body		{
	background-color: darkblue;
}

.container	{
	overflow: auto;
	height: auto;
}

#sidebar	{
	width: 150px;
	height: 100%;
	float: left;
	color: white;
}

#main	{
	padding-left: 25px;
	overflow: auto;
}

img	{
	width: 200px;
	height: 140px;
	padding-left: 0px;
	padding-right: 10px;
	padding-top: 5px;
}

.feed {
	width: 15%;
	min-width: 240px;
	height: 300px;
	border-style: solid;
	border-width: 1px;
	padding: 5px;
	float: left;
	font-size: 70%;
	background-color: lightgrey;
	overflow: scroll;
}

.clearfix	{
		list-style-type: none;
    overflow: auto;
}

//----------links----------
/* unvisited link */

a:link {
    color: red;
}

/* visited link */
a:visited {
    color: green;
}

/* mouse over link */
a:hover {
    color: hotpink;
}

/* selected link */
a:active {
    color: blue;
}
//--------links----------
